.header {
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 23px;
    padding: 12px 40px;
    border: solid 1px #e5e8eb;
}

.logout {
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;  
    background-color: #1c91f2;
}